* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: block;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  background-color: rgb(255, 255, 255);
}
header .navbar-container {
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: fixed;
  z-index: 100;
  overflow: hidden;
  top: 0;
}
header .navbar-container .navbar {
  width: 75%;
  margin: auto;
  justify-content: space-between;
  position: fixed;
  left: 5%;
  right: 5%;
}
header .navbar-container .navbar-left-section {
  height: 100%;
  display: flex;
  align-items: center;
}
header .navbar-container .social-icon {
  width: 75px;
  display: flex;
  justify-content: space-between;
}
header .navbar-container .navbar-right-section {
  display: flex;
  justify-content: space-between;
  height: 100%;
  transition: 0.5s;
}
header .nav :first-of-type {
  background-color: #e0bcf0;
  color: #000000;
}
header .nav :nth-child(2) {
  background-color: #fcfbd1;
  color: #000000;
}
header .nav :last-of-type {
  background-color: #fce5d7;
  color: #000000;
}
header button {
  margin-right: 5px;
  border-radius: 3%;
}

main {
  font-family: Poppins, sans-serif;
}
main .background {
  opacity: 0.8;
}
main .me {
  background-color: rgb(168, 57, 57);
}

footer {
  font-family: Poppins, sans-serif;
}