@media only screen and (min-width: 961px) {
  .head {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Libre Bodoni, sans-serif;
  font-size: 20px;
}

.head {
  grid-area: header;
  position: fixed;
  display: flex;
  width: 100%;
  padding: 10px;
  background-color: rgba(204, 173, 173, 0.116);
  align-items: center;
  justify-content: space-between;
}
.head img {
  width: 130px;
  margin-left: 25px;
}
.head a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 15px;
  margin: 1px;
}
.head a:hover {
  color: #920b95;
  font-weight: 600;
}
.head ul > li {
  display: inline;
  list-style-type: none;
  padding: 15px;
}

.title {
  grid-area: main;
}