* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head {
  position: fixed;
  display: flex;
  width: 100%;
  padding: 10px;
  background-color: white;
  align-items: center;
  justify-content: space-between;
}
.head img {
  width: 130px;
  margin-left: 25px;
}
.head a {
  text-decoration: none;
  font-size: 20px;
}
.head ul > li {
  display: inline;
  list-style-type: none;
  padding: 15px;
}

body {
  background-color: black;
  height: 500px;
}