
$primary-color: #000000;
$secondary-color: #8a28b8;
$third-color: #f06717;
$fourth-color: #d814c8;
$fift-colol: #f0ed4c;

$theme-colors: (
"primary": $primary-color,
"secondary": $secondary-color,
"third": $third-color,
"fourth": $fourth-color,
"fift": $fift-colol,
)
