

@mixin a-style {
  text-decoration: none;
    color:black;
    font-size: $text-size;
    padding: 15px;
    margin: 1px;
    &:hover {
      color: lighten(rgb(53, 4, 54),20);
      font-weight: 600;
    }
}

body {
  font-family: $font-stack;
  font-size: $text-size;
  height: 500px;
}