
$font-stack: Poppins, sans-serif;
$text-size: 18px;


$primary-color: #000000;
$secondary-color: #8a28b8;
$third-color: #f06717;
$fourth-color: #f0ec11;
$fift-colol: #eb39cd;

$theme-colors: (
"primary": $primary-color,
"secondary": $secondary-color,
"third": $third-color,
"fourth": $fourth-color,
"fift": $fift-colol,
)

