@import "config";
@import "font";
@import "media-query";

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  font-size: $text-size;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  gap:10px;  
}

.head {
  grid-area: header;
  position:fixed;
  display: flex;
  width: 100%;
  padding: 10px;
  background-color: rgba(204, 173, 173, 0.116);
  align-items: center;
  justify-content: space-between;
    img {
    width: 130px;
    margin-left: 25px;
  }
    a {
    @include a-style;
    }
   ul > li {
    display: inline;
    list-style-type:none;
    padding: 15px;
  }
}

.title {
  grid-area: main;

}



