@import "config" ;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background : url(/asset/img/sfondo.jpg);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: $font-stack;


  a, a:hover, a:visited, a:active {
    color:black;
    text-decoration: none;
  }

  a:active {
    background-color: black;
  }
}



.nav-link1 {
  background-color:lighten($secondary-color,40);
  color: $primary-color;
  width: 120px;
  border-radius: 5%;
  text-align: center;
  padding: 8px;
  font-weight: 580;
 }

.nav-link2 {
  background-color:lighten($fourth-color,40);
  color: $primary-color;
  width: 120px;
  border-radius: 5%;
  text-align: center;
  padding: 8px;
    font-weight: 580;
}

.nav-link3 {
  background-color:lighten($third-color,40);
  color: $primary-color;
  width: 120px;
  border-radius: 5%;
  text-align: center;
  padding: 8px;
  font-weight: 580;
}


.footer {
  height: 100px;
  color: $primary-color;
  background-color: rgb(255, 255,255);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 0;
  
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;

  button {
  background-color: $third-color;
  color: $primary-color;
  width: 120px;
  border-radius: 5%;
  text-align: center;
  padding: 8px;
  font-weight: 580;
  }
  
}

strong {
  color: $fourth-color;
}

h1 {
  color: $secondary-color;
  margin-top: 50px;
}





@media(max-width: 991px) {
  .sidebar {
    background-color: rgba(255,255,255);
  }
}
